{% import "Macros/input.twig" as input %}

<dl class="{{ className }}">
	<dt class="flex gap-2 items-center">
		{% if required %}
			{{ input.required() }}
		{% endif %}
		<span class="text-[16px]">{{ label }}</span>
	</dt>
	<dd class="c-p --l mt-2 font-bold">
		{{ content | nl2br }}
	</dd>
</dl>
