<div class="l-container">
	<div class="s-header">
		<a
			href="{{ project_domain }}/"
			class="block w-[100px] h-[25px] md:w-[150px] md:h-[38px] hover:opacity-80 transition-opacity duration-300"
		>
			<img
				src="{{ public('images/logo.svg') }}"
				alt=""
				width="199"
				height="93"
				class="w-full h-full object-contain"
			/>
		</a>
	</div>
</div>
