/****************************************
 * Layout ラッパーやコンテナ、グリッドなど
 *　 内容物の配置調整のみを担当する
 * 接頭時： l-
 *****************************************/

.l-container {
	box-sizing: content-box;
	margin-right: auto;
	margin-left: auto;
	padding-right: 20px;
	padding-left: 20px;

	@variant md {
		max-width: 1480px;
	}
}

.l-inner {
	margin-right: auto;
	margin-left: auto;
	max-width: 920px;
}
