<div class="fixed inset-0 z-50" :class="{ 'pointer-events-none': !open }">
	<div
		class="absolute inset-0 z-10 bg-black/50"
		x-show="open"
		x-transition.opacity
		@click="open = false"
	></div>
	<div
		class="absolute inset-0 left-16 z-20 overflow-auto max-w-2xl ml-auto p-5 bg-white"
		x-show="open"
		x-transition:enter="transition duration-200"
		x-transition:enter-start="translate-x-full"
		x-transition:enter-end="translate-x-0"
		x-transition:leave="transition duration-200"
		x-transition:leave-start="translate-x-0"
		x-transition:leave-end="translate-x-full"
	>
		<div>
			<button class="px-2 py-1 border rounded" type="button" @click="open = false">閉じる</button>
		</div>

		<ul class="divide-y">
			{% for item in [
				['ホーム', site.url],
				[about_post.title, about_post.link],
				[
					function('get_post_type_object', 'mytheme_news').labels.name,
					function('get_post_type_archive_link', 'mytheme_news')
				]
			] %}
				<li><a class="block px-5 py-3" href="{{ item[1] }}">{{ item[0] }}</a></li>
			{% endfor %}
		</ul>
	</div>
</div>
