@theme {
	/* ブレークポイント */
	--breakpoint-md: 768px;

	/* カラー */
	--color-ashirai_navy: #003a61;
	--color-text_black: #2f2723;
	--color-text_orange: #f2552e;
	--color-off_white: #fafafa;
	--color-border: #dddddd;
	--color-theme_blue: #034495;
	--color-theme_orange-1: #ff9b2c;
	--color-theme_orange-2: #ff6b35;
	--color-theme_orange-3: #ff5230;
	--color-cta_orange: #f3812c;

	/* フォントサイズ */
	--font-size-l-pc: 18px;
	--font-size-l-sp: 16px;
	--font-size-m-pc: 16px;
	--font-size-m-sp: 15px;
	--font-size-s-pc: 14px;
	--font-size-s-sp: 13px;

	/* シャドウ */
	--shadow-submit: 2px 4px 4px 0 hsl(15deg 68% 35% / 0.4);
}
